@font-face {
    font-family: "yeongNamRu";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/yeongNamRu/yeongNamRu.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/yeongNamRu/yeongNamRu.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/yeongNamRu/yeongNamRu.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/yeongNamRu/yeongNamRu.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/yeongNamRu/yeongNamRu.ttf") format("truetype");
    font-display: swap;
}
.yeongNamRu {
    font-family: "yeongNamRu";
}
